# Virtual environments
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# Flask instance
instance/

# Logs
logs/

# Database
*.db
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db