attrs==26.1.0
Automat==25.4.16
beautifulsoup4==4.15.0
blinker==1.9.0
certifi==2026.7.22
cffi==2.1.0
charset-normalizer==3.4.9
click==8.4.2
colorama==0.4.6
constantly==23.10.4
cryptography==49.0.0
dnslib==0.9.26
Flask==3.1.1
hyperlink==21.0.0
idna==3.18
Incremental==24.11.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
pycparser==3.0
pyOpenSSL==26.3.0
requests==2.34.2
scapy==2.6.1
service-identity==26.1.0
soupsieve==2.9.1
Twisted==26.4.0
typing_extensions==4.16.0
urllib3==2.7.0
Werkzeug==3.1.8
zope.interface==8.5
gunicorn==23.0.0
