{% extends "base.html" %}

{% block content %}

<section class="dashboard-section">

    <div class="container">

        <div class="page-header">

            <h1>👥 Employee Directory</h1>

            <p>
                Internal corporate directory for Aetheris Technologies employees.
            </p>

        </div>

        <div class="employee-grid">

            {% for employee in employees %}

                    {% include "components/employee_card.html" %}

            {% endfor %}

        </div>

    </div>

</section>

{% endblock %}