{% extends "base.html" %}

{% block content %}

<section class="login-section">

    <div class="container">

        <div class="login-card">

            <h1>Corporate Webmail</h1>

            <p>
                Access your mailbox securely.
            </p>

            <form>

                <input
                    type="email"
                    placeholder="Email Address"
                >

                <input
                    type="password"
                    placeholder="Password"
                >

                <button
                    class="btn btn-primary"
                    type="button">

                    Sign In

                </button>

            </form>

        </div>

    </div>

</section>

{% endblock %}