<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="gavYuMYl3j8Lig3Mm7xC1TbHoxww0oetUmLC29xL1A4" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Aetheris Technologies</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/components.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css') }}">
</head>

<body data-page="{{ request.endpoint }}" class="light-theme">

    {% include 'components/navbar.html' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'components/footer.html' %}

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

    <!-- Theme Toggle Script -->
    <script>

    const body = document.body;
    const toggle = document.getElementById("theme-toggle");

    const savedTheme = localStorage.getItem("theme");

    if(savedTheme === "dark"){

        body.classList.add("dark-theme");
        body.classList.remove("light-theme");

        toggle.checked = true;

    }

    toggle.addEventListener("change",()=>{

        if(toggle.checked){

            body.classList.add("dark-theme");
            body.classList.remove("light-theme");

            localStorage.setItem("theme","dark");

        }else{

            body.classList.remove("dark-theme");
            body.classList.add("light-theme");

            localStorage.setItem("theme","light");

        }

    });

    </script>

</body>

</html>